<p>
  <%= link_to 'All Cars', cars_path %> <br>
  <%= link_to 'New Cars', new_car_path %> <br>
  <%= link_to 'All Manufacturers', manufacturers_path %> <br>
  <%= link_to 'New Manufacturer', new_manufacturer_path %> <br>

</p>
